"media";"target";"nodeText";"attr"
"fazBlog";"results";"//*[@class='SuchergebnisKopf']//*[@class='Trefferzahl']";""
"fazBlog";"nPages";"//*[@class='SuchergebnisKopf']//span[@class='Seitenzahl']";""
"fazBlog";"pageRessort";"//span[@class='Stichwort']";""
"fazBlog";"pageHeadline";"//span[@class='Headline']";""
"fazBlog";"pageDate";"//span[@class='Date']";""
"fazBlog";"pageTeaser";"//span[@class='TeaserText']";""
"fazBlog";"pageTeaserInfo";"//div[@class='TeaserInfo']";""
"fazBlog";"pageAuthor";"//span[@class='caps last']";""
"fazBlog";"pageURL";"//*[@class='TeaserHeadLink']";href
"fazBlog";"articleHeadline";"//h2[@class='entry-title']";""
"fazBlog";"articleDate";"//span[@class='entry-date']";""
"fazBlog";"articleTeaser";"//p[@class='wteaser']";""
"fazBlog";"articleContent";"//div[@class='single-entry-content']";""
"fazBlog";"articleAuthor";"//span[@class='entry-author']";""
"spiegelOnline";"nPages";"//div[@class='search-paginator']//a";""
"spiegelOnline";"pageHeadline";"//div[@class='search-teaser']//strong[@class='article-title']";""
"spiegelOnline";"pageTeaser";"//div[@class='search-teaser']//p[@class='article-intro']";""
"spiegelOnline";"pageTeaserInfo";"//div[@class='search-teaser']//span[@class='source-date']";""
"spiegelOnline";"pageURL";"//div[@class='search-teaser']//p[@class='article-intro']//a";href
"spiegelOnline";"articleHeadline";"//h2[@class='article-title lp-article-title ']";""
"spiegelOnline";"articleDate";"//time[@class='timeformat']";"datetime"
"spiegelOnline";"articleTeaser";"//p[@class='article-intro']";""
"spiegelOnline";"articleContent";"//div[@class='article-section clearfix']";""
"spiegelOnline";"cleanArticleContent";"//div[@class='article-section clearfix']//p//style";""
"spiegelOnline";"articleAuthor";"//a[@class='autor-link js-author-link']";""
"sueddeutsche";"nPages";"//ul[@class='newsscanner-paging']//a"
"sueddeutsche";"pageHeadline";"//a[@class='entrylist__link']";""
"sueddeutsche";"pageTeaserInfo";"//div[@class='entrylist__content']//ul[@class='breadcrumb-list']";""
"sueddeutsche";"pageTeaser";"//p[@class='entrylist__detail detailed-information']";""
"sueddeutsche";"pageDate";"//time[@class='entrylist__time']";""
"sueddeutsche";"pageURL";"//a[@class='entrylist__link']";href
"sueddeutsche";"articleHeadline";"//section[@class='header']//h2";""
"sueddeutsche";"articleDate";"//time[@class='timeformat']";"datetime"
"sueddeutsche";"articleTeaser";"//p[@class='article entry-summary']";""
"sueddeutsche";"articleContent";"//section[@id='article-body']";""
"sueddeutsche";"articleAuthor";"//div[@class='authorProfileContainer']//span//span";""
