"media";"urlPreStatement";"urlPostStatement";"urlPreStatementPage2";"urlPostStatement2"
fazBlog;"http://www.faz.net/suche/?query=%22";"%22&BTyp=redaktionelleInhalte&chkBoxType_3=on&resultsPerPage=80";;
spiegelOnline;"http://www.spiegel.de/suche/index.html?suchbegriff=%22";"%22&quellenGroup=SPOX";;
sueddeutsche;http://www.sueddeutsche.de/news?search=%22;%22&sort=date&all%5B%5D=dep&all%5B%5D=typ&all%5B%5D=time&sys%5B%5D=sz&catsz%5B%5D=alles
